
# General
.DS_Store
node_modules/
venv/
env/
.env
__pycache__/
*.pyc
*.pyo
*.pyd

# Build
dist/
build/
.next/
out/
.vs/
bin/
obj/
*.dll

# Large Data
*.csv
*.db
*.sqlite
*.sqlite3
*.db-wal
*.db-shm
*.log
*.zip
*.tar.gz
*.tif
*.r
*.asm
